{% extends "copacity_app/base.html" %}

{% block content %}

    <div class="starter-template">
      <h1>Co-pacity</h1>
      <p class="lead">Coping together</p>
    </div>
    <a href="{% url 'copacity_app:new_checkIn' %}"><button type="button" class="btn btn-primary btn-lg">Check In</button><a/>
<!--
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      View recent checkins for . . .
    </button>
-->
{% endblock content %}
