{% extends "copacity_app/base.html" %}

{% block content %}

  <div>
    </br>
    <h1 class="col-sm-4 m-0 p-0 mb-2">Check-In</h1>
    <p class="col-sm-8 m-0 p-0 mb-4">Hi <strong>{{user.username}}</strong>, thanks for checking in!</p>
  </div>

  <form action="{% url 'copacity_app:new_checkIn' %}" method='POST'>
    {% csrf_token %}
      <div class="form-row">
        <label for="hardToday" class="col-form-label col-sm-4">One hard thing about today:</label>
        {{ form.hardToday }}
      </div>
      <div class="form-row">
        <label for="goodToday" class="col-form-label col-sm-4">One good thing about today:</label>
        {{ form.goodToday }}
      </div>
      <div class="form-row">
        <label for="excitedToday" class="col-form-label col-sm-4">One thing I am excited about today:</label>
        {{ form.excitedToday }}
      </div>
      <fieldset class="form-group">
        <div class="form-row">
          <legend class="col-form-label col-sm-4 pt-0">I am safe in my thoughts today:</legend>
          <div class="col-sm-8">
            {% for radio in form.thoughts %}
              <div class="form-check myRadio">
                {{ radio }}
              </div>
            {% endfor %}
            {{form.thoughtsExplained}}
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <div class="form-row">
          <legend class="col-form-label col-sm-4 pt-0">I am safe in my actions today:</legend>
          <div class="col-sm-8">
            {% for radio in form.actions %}
              <div class="form-check myRadio">
                {{ radio}}
              </div>
            {% endfor %}
            {{form.actionsExplained}}
          </div>
        </div>
      </fieldset>

      <div class="form-row mb-3">
        <div id="moodRangeHelpText" class="col-sm-4 col-form-text">
          On a scale from 1 to 10, today I feel:
        </div>
        <label for="moodRange" class="col-sm-2 col-form-label">low and sad (left)</label>
        {{ form.moodRange}}
        <label for="moodRange" class="col-sm-2 col-form-label">very happy (right)</label>
      </div>
      <div class="form-row mb-3">
        <div id="pintaRangeHelpText" class="col-sm-4 col-form-text">
          I need a Pinta picture:
        </div>
        <label for="pintaRange" class="col-sm-2 col-form-label">Immediately! (left)</label>
        {{ form.pintaRange }}
        <label for="pintaRange" class="col-sm-2 col-form-label">I am doing ok (right)</label>
      </div>
      <fieldset class=form-group>
        <div class="form-row">
          <legend class="col-form-label col-sm-4 pt-0">I want to connect about this response:</legend>
          <div class="col-sm-8">
            {% for radio in form.urgency %}
              <div class="form-check myRadio">
                {{ radio}}
              </div>
            {% endfor %}
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="form-row mb-3">
          <label for="visibiility" class="col-sm-4 col-form-label">Visible to circle:</label>
          <div class="col-sm-8">
            {% for check in form.visibility %}
              <div class="form-check">
                {{ check }}
              </div>
            {% endfor %}
          </div>
        </div>
      <input type="submit" class="btn-block btn-primary" value="SUBMIT CHECKIN">
      <input type="submit" class="btn-block btn-primary" value="CANCEL" formaction="{% url 'copacity_app:index' %}" formnovalidate>
    </form>

{% endblock content %}
